.app.dark {
  --bg-color: #252525;
  --bg-color-inverted: #ffffff;


  --primary-color: #f56f57;
  --secondary-color: #FDFDFD;

  --primary-color-inverted: #947107;
  --secondary-color-inverted: #08a6a6;
}