.app.light {
  --bg-color: #FDFDFD;
  --bg-color-inverted: #252525;



  --primary-color: #947107;
  --secondary-color: #08a6a6;

  --primary-color-inverted: #f56f57;
  --secondary-color-inverted: #FDFDFD;
}